body {
  padding: 10px;
  font-family: sans-serif;
}
.bkgrndImg{
	background: url('lui-peng-eHytul-4rmo-unsplash.jpg');
	background-size: fixed;
}
.bkImg{
	background: #ffffff44; /*rgba*/
}
.imgs{
	width:100%;
	transition: .3s linear;
	cursor: pointer;
}
.imgs:hover{
	transform: scale(1.1);
}
.uniform{
	height: 250px;
	overflow: hidden;
}
.dcolor, .ecolor{
	font-size: 2em;
	cursor:pointer;
}
.dcolor{
	color: purple;
}
.ecolor2{
	color:gray;
}
.placeHolder{
	margin-bottom:10px;
	width:350px;
	height:250px;
}

#login-dropdown-list{
	list-style: none;
}
.rating > label{
	cursor: pointer;
}
.imgCrop{
	max-width: 350px;
	max-height: 250px;
	margin: 0 auto;
	overflow: hidden;
}